<div class="page-header">
  <strong>Meter Reading</strong>
  <small class='pull-right'><%= link_to "Add new rent details", new_meter_reading_path, :class => 'btn btn-primary btn-sm pull-right' %></small>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Last Reading</th>
      <th>Current Reading</th>
      <th>Reading Date</th>
      <th>Rupee/Unit</th>
      <th>Rent</th>
      <th>Total Rent</th>
      <th>Individual Rent Amt</th>
      <th>Units Consumed</th>
      <% if current_user.is_admin %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @meter_readings.each do |meter_reading| %>
      <tr>
        <td><%= link_to meter_reading.id, edit_meter_reading_path(meter_reading) %></td>
        <td class='lastReading'><%= meter_reading.last_reading %></td>
        <td class='currentReading'><%= meter_reading.reading %></td>
        <td><%= meter_reading.date %></td>
        <td class='unitRate'><%= meter_reading.unit_rate %></td>
        <td class='rent'><%= meter_reading.rent %></td>
        <td class='totalRent'></td>
        <td class='individualRent'></td>
        <td class='units'></td>
        <% if current_user.is_admin %>
          <td><%= link_to "Delete", meter_reading_path(meter_reading), method: :delete, confirm: "Are you sure?", class: "btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<ul class="chart">
  <% @meter_readings.reverse.each do |meter_reading| %>
    <li>
      <span style="height:<%= (meter_reading.reading - meter_reading.last_reading) * 2 %>%" title="<%= meter_reading.date.strftime("%b")%>"></span>
    </li>
    <% end %>
</ul>
<%= content_for :active_tab, "tools" %>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var totalRent, unitRate, lastReading, currentReading, rent;
      $("table tbody tr").each(function(){
        unitRate = parseInt($(this).find(".unitRate").html());
        lastReading = parseInt($(this).find(".lastReading").html());
        currentReading = parseInt($(this).find(".currentReading").html());
        rent= parseInt($(this).find(".rent").html());
        totalRent = rent + (unitRate * (currentReading - lastReading));
        $(this).find(".totalRent").html(totalRent);
        $(this).find(".individualRent").html(totalRent / 2);
        $(this).find(".units").html((currentReading - lastReading));
      });
    });
  </script>
<% end %>