<h3>Expense Details</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Expense Owner</th>
      <th>Cost</th>
      <th>User group info</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><%= @expense.title %></td>
      <td><%= simple_format @expense.description %></td>
      <td><%= @expense.category_name %></td>
      <td><%= display_name @expense.user %></td>
      <td><%= @expense.cost %></td>
      <td><%= @expense.group.try(:name) %></td>
      <td><%= @expense.date.try(:strftime, "%d %b, %Y") %></td>
    </tr>
  </tbody>
</table>

<div class="form-group well">
  <%= link_to "<< Dashboard", admin_expenses_path, class: "btn btn-default btn-sm" %>
  <%= link_to "Edit", edit_admin_expense_path(@expense), class: "btn btn-primary btn-sm" %>
  <%= link_to "Delete", admin_expense_path(@expense), method: :delete, confirm: "Are you sure to delete this expense?", class: "btn btn-danger btn-sm" %>
</div>
