<%- if request.url.include?("change_password") %>
  <div class="page-header">
    <h3>Change Password</h3>
  </div>
  <%= form_tag(change_password_user_path(current_user), method: :put, :class => 'form-horizontal') do |f| %>
    <%= html_errors current_user %>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="user_current_password">Current password</label>
      <div class="col-lg-10">
        <%= password_field :user, :current_password, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="user_password">New Password</label>
      <div class="col-lg-10">
        <%= password_field :user, :password, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="user_current_password">Retype new Password</label>
      <div class="col-lg-10">
        <%= password_field :user, :password_confirmation, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group well">
      <div class="col-lg-offset-2 col-lg-10">
        <input class="btn btn-default" name="commit" type="submit" value="Change Password">
        <a href="<%= current_user.is_admin ? "/users" : "/" %>" class="btn">Cancel</a>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="page-header">
    <h3>Edit Profile</h3>
  </div>
  <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <%= html_errors @user %>
    <div class="form-group">
      <%= f.label :first_name, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :username, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :username, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group well">
      <div class="col-lg-offset-2 col-lg-10">
        <input class="btn btn-default" name="commit" type="submit" value="Update Profile">
        <a href="<%= current_user.is_admin ? "/users" : "/" %>" class="btn">Cancel</a>
      </div>
    </div>
  <% end %>
<% end %>
