.page-header
  %h3 Invite User
= form_tag "/users/invite", remote: true, :class => 'form-horizontal' do
  = html_errors @user
  .form-group
    %label.col-lg-2.control-label{for: "user_first_name"} First name
    .col-lg-10
      = text_field_tag "user[first_name]", @user.first_name, class: "form-control", id: "user_last_name"

  .form-group
    %label.col-lg-2.control-label{for: "user_last_name"} Last name
    .col-lg-10
      = text_field_tag "user[last_name]", @user.last_name, class: "form-control", id: "user_last_name"

  .form-group
    %label.col-lg-2.control-label{for: "user_username"} Username
    .col-lg-10
      = text_field_tag "user[username]", @user.username, class: "form-control", id: "user_username"

  .form-group
    %label.col-lg-2.control-label{for: "user_group_id"} Group
    .col-lg-10
      = select_tag("user[group_id]", options_for_select(Group.select("id, name").collect {|p| [ p.name, p.id ] }), class: "form-control")

  .form-group
    %label.col-lg-2.control-label{for: "user_email"} Email
    .col-lg-10
      = text_field_tag "user[email]", @user.email, class: "form-control", id: "user_email"

  .form-group.well
    .col-lg-offset-2.col-lg-10
      = submit_tag "Save user details", disable_with: "Please wait, saving...", class: "btn btn-default"
      %a.btn{href: "/users"} Cancel