<%- content_for :title, "Forgot Password?" %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form", class: "form-horizontal" }) do |f| %>
  <legend style='align: center;'>Forgot your password?</legend>
  <%= html_errors(resource) %>
  <div class="form-group">
    <%= f.label :email, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="form-group mt40">
    <div class="col-lg-offset-2 col-lg-10">
    <%= link_to "Sign in", new_session_path(resource_name), class: "btn btn-sm  btn-default" %>
    </div>
  </div>
<% end %>
