<div class="page-header">
  <strong>Events</strong>
  <small class='pull-right'><%= link_to "Add new event", new_event_path, class: 'btn btn-primary btn-sm pull-right' %></small>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Event creator</th>
      <th>Event total cost</th>
      <th>Cost Settlement Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.id, event_path(event) %></td>
        <td><%= event.name %></td>
        <td><%= simple_format(event.description) %></td>
        <td><%= event.user.display_name %></td>
        <td><%= event.total_cost %></td>
        <td><%= Event::STATUS[event.status] %></td>
        <td>
          <%= link_to "Edit", edit_event_path(event), class: "btn btn-info btn-sm" %>
          <%- if event.status == 0 %>
            <%= link_to "Complete Event", change_status_event_path(event, status: "1"), class: "btn btn-danger btn-sm", method: "PUT" %>
          <%- else %>
            <%= link_to "Change to Incomplete", change_status_event_path(event, status: "0"), class: "btn btn-success btn-sm", method: "PUT" %>
          <% end %>
        </td>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>