<%- content_for :title, "Add new Expense" %>

<%= form_for @category, :html => {role: "form", :class => 'form-horizontal' } do |f| %>
  <%= html_errors @category %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_type, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.select(:category_type, Category::TYPES.collect{|key, val| [val, key]}, {include_blank: "Select type"}, {class: "form-control"})%>
    </div>
  </div>
  <div class="form-group well">
    <div class="col-lg-offset-2 col-lg-10">
      <input class="btn btn-default" name="commit" type="submit" value="Save Category details">
      <a href="/categories" class="btn">Cancel</a>
    </div>
  </div>
<% end %>
