<%= form_for @expense, remote: true, :html => {role: "form", :class => 'form-horizontal' } do |f| %>
  <%= html_errors @expense %>
  <div class="form-group">
    <%= f.label :title, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.select(:category_id, @categories.select{|c| c.is_expense}.collect {|p| [ p.name, p.id ] }, {}, {class: "form-control"})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10 input-group">
      <input class="form-control" id="expense_cost" name="expense[cost]" size="30" type="tel" value="<%= @expense.cost %>">
    </div>
  </div>
  <div class="form-group">
      <%= f.label :date, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10 input-group">
      <%= f.text_field :date, class: "datepicker form-control", value: @expense.date.try(:strftime, "%d-%b-%Y"), readonly: true %>
      <!--span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span-->
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-default', disable_with: "Please wait, saving..." %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expenses_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
