<div class="page-header">
  <strong>Expenses</strong>
  <small class='pull-right'><%= link_to "Add new Expense", new_expense_path, :class => 'btn btn-primary btn-sm pull-right' %></small>
</div>
<div class='dn pageData' data-page='expenses' data-user='true'></div>

<div class="panel panel-default">
  <div class="panel-heading">Search in Expenses</div>
  <div class="panel-body">
    <%= form_tag expenses_path, method: :get, class: "form-horizontal searchForm", role: "form" do %>
      <table class='table table-condensed'>
        <tbody>
          <tr>
            <th class='text-right'>Title</th>
            <td>
              <input type="text" class="form-control" placeholder="Enter text to search in title" name='title' value='<%= params[:title] %>'>
            </td>
            <td><span class="text-left glyphicon glyphicon-remove"></span></td>
          </tr>
          <tr>
            <th class='text-right'>Description</th>
            <td>
              <input type="text" class="form-control" placeholder="Enter text to search in description" name='description' value='<%= params[:description] %>'>
            </td>
            <td><span class="text-left glyphicon glyphicon-remove"></span></td>
          </tr>
          <tr>
            <th class='text-right'>Categories</th>
            <td>
              <%= select_tag(:category_id, options_for_select(@categories.select{|c| c.is_expense}.collect {|p| [ p.name, p.id ]}, params[:category_id] ), {prompt: "Select category", class: "form-control"})%>
            </td>
            <td><span class="text-left glyphicon glyphicon-remove"></span></td>
          </tr>
          <tr>
            <th class='text-right'>Purchased by</th>
            <td>
              <%= select_tag(:user_id, options_for_select(current_user.group.users.collect {|p| [ "#{p.first_name} #{p.last_name}", p.id ]}, params[:user_id] ), {prompt: "Select user", class: "form-control"})%>
            </td>
            <td><span class="text-left glyphicon glyphicon-remove"></span></td>
          </tr>
          <tr>
            <th class='text-right'>Date</th>
            <td>
              <input type="text" class="form-control datepicker" name='date' value='<%= params[:date] %>' readonly='true'>
            </td>
            <td><span class="text-left glyphicon glyphicon-remove"></span></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-info searchFormBtn" data-disable-with="Searching..." name="button" type="button">Search</button>
              </td>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<table class="table table-striped table-bordered" id="expensesTable">
  <thead>
    <tr class="thHeads">
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <th>Purchased by</th>
      <th>Cost</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= paginate @expenses %>
<%= content_for :javascript do %>
  <script type="text/javascript">
    expenses_json = <%= @expenses.to_json.html_safe %>
    categories_json = <%= @categories.group_by(&:id).to_json.html_safe %>
    users_json = <%= @users.group_by(&:id).to_json.html_safe %>
    is_admin = <%= current_user.is_admin %>
    $(document).ready(function(){
      $(".searchForm .glyphicon, .searchFormBtn").off("click");
      // Submitting form using Turbolinks.visit to take advantage of Turbolink
      $(".searchFormBtn").on("click", function(){
        var href = "/expenses?" + $(".searchForm").serialize() ;
        Turbolinks.visit(href);
      });
      $(".searchForm .glyphicon").on("click", function(){
        var inputParent = $(this).parent().prev("td");
        inputParent.find("input, select").val("");
        inputParent.find("input, select").first().focus();
      });
    });
  </script>
<% end %>