<div class="page-header">
  <h1>Expense Details</h1>
</div>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Expense Owner</th>
      <th>Cost</th>
      <th>User group info</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><%= @expense.title %></td>
      <td><%= simple_format @expense.description %></td>
      <td><%= @expense.category.try(:name) %></td>
      <td><%= display_name @expense.user %></td>
      <td><%= @expense.cost %></td>
      <td><%= @expense.group.try(:name) %></td>
      <td><%= @expense.date.try(:strftime, "%d %b, %Y") %></td>
    </tr>
  </tbody>
</table>

<div class="form-group well">
  <a href="/expenses" class="btn btn-default btn-sm">Back</a>
  <%- if current_user_has_access_of? @expense %>
    <a href="/expenses/<%= @expense.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
  <% end %>
  <%- if current_user.is_admin %>
    <a href="/expenses/<%= @expense.id %>" class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
  <% end -%>
</div>
