<div class="page-header">
  <strong>Personal expenses for category <%= @category.try(:name) %></strong>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr class="thHeads">
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <%- @personal_expenses.each do |expense| %>
      <tr class="">
        <td><%= link_to expense.id, personal_expense_path(expense) %></td>
        <td><%= expense.title %></td>
        <td><%= simple_format(expense.description) %></td>
        <td><%= expense.date.strftime("%d %b, %Y") %></td>
        <td class='cost'><%= expense.cost %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= content_for :active_tab, "expenses" %>