<%= link_to "Add new personal Expense", new_personal_expense_path, :class => 'btn btn-primary btn-sm' %>
<div class='dn pageData' data-page='personal_expenses'></div>
<div class="page-header">
  <strong>Personal expenses for last three months</strong>
</div>
<table class="table table-striped table-bordered" id="expensesTable">
  <thead>
    <tr class="thHeads">
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <%- if current_user.is_admin %>
        <th>User</th>
      <% end %>
      <th>Cost</th>
    </tr>
  </thead>
</table>
<%= content_for :right_sidebar do %>
  <%= render "shared/filter" %>
<% end %>
<%= content_for :javascript do %>
  <script type="text/javascript">
    expenses_json = <%= @personal_expenses.to_json.html_safe %>
    categories_json = <%= @categories.group_by(&:id).to_json.html_safe %>
    users_json = <%= @users.group_by(&:id).to_json.html_safe if @users %>
    is_admin = <%= current_user.is_admin %>
  </script>
<% end %>
<%= content_for :active_tab, "expenses" %>